* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.weather-project {
    width: 65%;
    margin: 10px auto;
    padding: 30px;
    border: 1px solid #dadde1;
}

.img-src img {
    width: 70px;
}

.temp {
    font-size: 40px;
    margin-left: 15px;
}

.degrees sup {
    display: inline-block;
    font-size: 20px;
    margin-top: 25px;
}

h1 {
    color: #878787;
    font-size: 28px;
    line-height: 1.5em;
    font-weight: 100;
}

.weather-desc {
    display: flex;
}

.weather-description {
    margin-top: 10px;
}

.weather-descrip {
    margin: 8px 10px;
}

.link {
    text-decoration: none;
}

.active {
    color: #000;
    cursor: default;
}

ol,
ul {
    padding-left: 0;
}

li {
    list-style: none;
    font-weight: 100px;
    line-height: 1em;
    font-size: 12px;
}

li:first-letter {
    text-transform: capitalize;
}


/* DESIGNING THE WEATHER FORCAST FOR DIFFERENT DAYS */

.weather-forcast {
    margin-top: 10px;
    text-align: center;
    color: #baabba;
}

.weather-forcast-date {
    font-size: 16px;
    opacity: 0.5;
}

.weather-forcast-temperature-min {
    opacity: 0.5;
}

.weather-forcast-temperature {
    font-size: 14px;
}