* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather-project {
    width: 80%;
    margin: 20px auto;
    padding: 30px;
    border: 1px solid #dadde1;
}

h1 {
    color: #878787;
    font-size: 28px;
    line-height: 1.5em;
    font-weight: 100;
}

.weather-desc {
    display: flex;
}

li {
    list-style: none;
    font-weight: 100px;
    line-height: 1em;
    font-size: 18px;
}